on:
  push:
    branches:
      - main

  pull_request:

  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@9fae48acfc02a90574d7c304a1758ef9895495fa # v7.0.1

      - name: Run tests
        run: |
          go test -v ./...

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Lint markdown
        uses: DavidAnson/markdownlint-cli2-action@05f32210e84442804257b2a6f20b273450ec8265 # v19.1.0
        with:
          config: .markdownlint.yaml

      - name: Get actionlint release
        id: get-actionlint-release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          eval "$(gh api \
            /repos/rhysd/actionlint/releases/latest \
            --jq '.assets[] |
              select (.name | endswith("_linux_amd64.tar.gz")) |
              "node_id=\(.node_id | @sh); browser_download_url=\(.browser_download_url | @sh)"')"

          echo "node_id=${node_id}" | tee -a "${GITHUB_OUTPUT}"
          echo "browser_download_url=${browser_download_url}" | tee -a "${GITHUB_OUTPUT}"

          mkdir -p ~/.local/bin
          echo "${HOME}/.local/bin" | tee -a "${GITHUB_PATH}"

      - name: Cache actionlint
        id: cache-actionlint
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.local/bin/actionlint
          key: actionlint-${{ steps.get-actionlint-release.outputs.node_id }}

      - name: Download actionlint
        id: get_actionlint
        if: steps.cache-actionlint.outputs.cache-hit != 'true'
        env:
          RELEASE: ${{ steps.get-actionlint-release.outputs.browser_download_url }}
        run: |
          curl -sSL "${RELEASE}" \
            | tar -C ~/.local/bin/ -xzf - actionlint

          chmod +x ~/.local/bin/actionlint

      - name: Check workflow files
        run: actionlint -color

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0

      - name: Run zizmor
        env:
          GH_TOKEN: ${{ github.token }}
        run: uvx zizmor --format sarif . > results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@5d5cd550d3e189c569da8f16ea8de2d821c9bf7a # v3.31.2
        with:
          sarif_file: results.sarif
          category: zizmor
