on:
  push:
    branches:
      - main

  pull_request:

  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0

      - name: Run tests
        run: |
          go test -v ./...

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Lint markdown
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          config: .markdownlint.yaml

      - name: Get actionlint release
        id: get-actionlint-release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          eval "$(gh api \
            /repos/rhysd/actionlint/releases/latest \
            --jq '.assets[] |
              select (.name | endswith("_linux_amd64.tar.gz")) |
              "node_id=\(.node_id | @sh); browser_download_url=\(.browser_download_url | @sh)"')"

          echo "node_id=${node_id}" | tee -a "${GITHUB_OUTPUT}"
          echo "browser_download_url=${browser_download_url}" | tee -a "${GITHUB_OUTPUT}"

          mkdir -p ~/.local/bin
          echo "${HOME}/.local/bin" | tee -a "${GITHUB_PATH}"

      - name: Cache actionlint
        id: cache-actionlint
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.local/bin/actionlint
          key: actionlint-${{ steps.get-actionlint-release.outputs.node_id }}

      - name: Download actionlint
        id: get_actionlint
        if: steps.cache-actionlint.outputs.cache-hit != 'true'
        env:
          RELEASE: ${{ steps.get-actionlint-release.outputs.browser_download_url }}
        run: |
          curl -sSL "${RELEASE}" \
            | tar -C ~/.local/bin/ -xzf - actionlint

          chmod +x ~/.local/bin/actionlint

      - name: Check workflow files
        run: actionlint -color

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

      - name: Run zizmor
        env:
          GH_TOKEN: ${{ github.token }}
        run: uvx zizmor --format sarif . > results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4.32.1
        with:
          sarif_file: results.sarif
          category: zizmor
